<p id="notice"><%= notice %></p>

<h4>Articles</h4>
<% Article.all.where(user_id: @user.id).each do |article| %>
  <%= link_to article.title, article_path(article) %>
<% end %>
<br/>
<br/>
<h4>Comments</h4>
<% Comment.all.where(user_id: @user.id).each do |comment| %>
  <%= link_to comment.message, comment_path(comment) %>
<% end %>
<br/>
<br/>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
